body{
    margin: 0;
    background-color: #daf6ea;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.top-header{
    width: 100vw;
    overflow: hidden;
    height: 1vh;
    padding: 1.5em;
    background: #333;
    color: #fff;
    border-bottom: #77a0a2 3px solid;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 2em;
    font-weight: 700;

}

.top-header > a:visited {
    color: #fff;
    text-decoration: none;
}

.top-header > a {
    text-decoration: none;
}


.yatzy-info{
    padding: 2em;
    width: 100vw;
    height: 40vh;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.yatzy-details{
    width: 50%;
}
.yatzy-details > input{
    padding: 1em;
}
.yatzy-details > button{
    padding: 1em;
}
.yatzy-user-container{
    width: 50%;
}

.yatzy-header{
    font-size: 2.5em;
    font-weight: 700;
}

.rollsLeft{
    margin-top: 2rem;
    font-size: 1.5em;
    text-decoration: underline;
}
.container{
    width: 100vw;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    box-sizing: border-box;
    flex-direction: column;
}
.dice-container{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.dice{
    background-color: white;
    height: 100%;
    width: 15%;
    border-radius: 16px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    box-sizing: border-box;
    position: relative;
}
.dot {
    width: 3vh;
    height: 3vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
.dot1 { top: 10%; left: 10%; }
.dot2 { top: 10%; left: 80%; }
.dot3 { top: 50%; left: 10%; }
.dot4 { top: 50%; left: 45%; }
.dot5 { top: 50%; left: 80%; }
.dot6 { top: 80%; left: 10%; }
.dot7 { top: 80%; left: 80%; }

.kept{
    border: 5px solid orangered;
}
.scorelist{
    padding: 2em 0;
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.buttonContainer > button {
    padding: 0.6em 1.5em; 
    font-size: 1.4em;
    font-weight: bold;
    color: white;
    background-color: #37b33d;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonContainer > button:hover {
    background-color: #eda43d;
    transform: translateY(-3px);
}

.buttonContainer > a > button {
    padding: 0.6em 1.5em;
    font-size: 1.4em; 
    font-weight: bold;
    color: white;
    background-color: #3089f5;
    border: none;
    border-radius: 15px; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonContainer > a > button:hover {
    background-color: #eda43d;
    transform: translateY(-3px);
}

.buttonContainer > button:disabled {
    background-color: #ccc;
    color:#77a0a2;
    cursor: not-allowed;
}

.leaderboard-div > h2 {
    text-decoration: underline;
}

#leaderboard li {
   display: block; 
   padding: 0.2em;
  background-color: lightpink; 
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
}