.board{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    height: 50vh;
    width: 50vh;
}
.square{
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.square:hover{
    background-color: blanchedalmond;
}
.X{
    font-size: 2em;
    display: none;
}
.O{
    font-size: 2em;
    display: none;
}
.active {
    display: flex;
}