body{
    margin: 0;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    box-sizing: border-box;
    flex-direction: column;
}
.dice-container{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.dice{
    background-color: white;
    height: 100%;
    width: 15%;
    border-radius: 16px;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    box-sizing: border-box;
    position: relative;
}
.dot {
    width: 3vh;
    height: 3vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
}
.dot1 { top: 10%; left: 10%; }
.dot2 { top: 10%; left: 80%; }
.dot3 { top: 50%; left: 10%; }
.dot4 { top: 50%; left: 45%; }
.dot5 { top: 50%; left: 80%; }
.dot6 { top: 80%; left: 10%; }
.dot7 { top: 80%; left: 80%; }

.kept{
    border: 5px solid red;
}